root = true

[*]
indent_style = space
indent_size = 2
por padrão o vscode não sabe ler esse arq .editorconfig e respeitar essas regras
baixe nas extensões .editorconfig = instale e a regra já será reconhecida tb em arq .xxx